@import "//bootstrap/scss/bootstrap";
.navbar {
  background-color: #fff;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px;
}
.navbar .navbar-brand {
  color: pink;
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: pink;
}
.navbar .nav-item.active .nav-link {
  color: pink;
}
.navbar .nav-item .nav-link {
  color: #333;
  font-weight: bold;
}
.navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link:focus {
  color: pink;
}

.hero {
  background-color: #f5f5f5;
  padding: 3rem 0;
  margin-top: 5%;
}
.hero h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero p.lead {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.hero .btn-primary {
  background-color: pink;
  border-color: pink;
}
.hero .btn-primary:hover, .hero .btn-primary:focus {
  background-color: #ff8da1;
  border-color: #ff8da1;
}
.hero img {
  max-width: 100%;
}

.featured-products, .featured-products2 {
  padding: 3rem 0;
}
.featured-products h2, .featured-products2 h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.featured-products .card, .featured-products2 .card {
  border: none;
}
.featured-products .card:hover, .featured-products2 .card:hover, .featured-products .card:focus, .featured-products2 .card:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.25rem);
}
.featured-products .card .card-img-top, .featured-products2 .card .card-img-top {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-products .card .card-body, .featured-products2 .card .card-body {
  text-align: center;
}
.featured-products .card .card-body h5.card-title, .featured-products2 .card .card-body h5.card-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.featured-products .card .card-body p.card-text, .featured-products2 .card .card-body p.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.featured-products .card .card-body .btn-primary, .featured-products2 .card .card-body .btn-primary {
  background-color: pink;
  border-color: pink;
}
.featured-products .card .card-body .btn-primary:hover, .featured-products2 .card .card-body .btn-primary:hover, .featured-products .card .card-body .btn-primary:focus, .featured-products2 .card .card-body .btn-primary:focus {
  background-color: #ff8da1;
  border-color: #ff8da1;
}

body {
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 400px;
  margin: 60px auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.form-signin svg {
  position: relative;
  left: 5%;
}
.form-signin .bi-person-hearts path {
  fill: rgb(74, 64, 66);
}
.form-signin h1 {
  color: rgb(74, 64, 66);
  font-weight: bold;
  font-size: 2rem;
}
.form-signin label {
  margin-bottom: 0.5rem;
}
.form-signin label:focus {
  border-color: pink;
  box-shadow: 0 0 0 0.2rem rgba(255, 192, 203, 0.5);
}
.form-signin input {
  margin-bottom: 1rem;
}
.form-signin input:focus {
  border-color: pink;
  box-shadow: 0 0 0 0.2rem rgba(255, 192, 203, 0.5);
}
.form-signin .checkbox {
  margin-bottom: 1rem;
}
.form-signin .btn-login {
  margin-top: 1rem;
  background-color: pink;
  border-color: pink;
}
.form-signin .btn-login:hover, .form-signin .btn-login:focus {
  background-color: #fff3f5;
  border-color: #fff3f5;
}

.form-signup {
  max-width: 400px;
  margin: 60px auto;
  padding: 3%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;
}
.form-signup svg {
  position: relative;
  left: 5%;
}
.form-signup .bi-person-hearts path {
  fill: rgb(74, 64, 66);
}
.form-signup h1 {
  color: rgb(74, 64, 66);
  font-weight: bold;
  font-size: 2rem;
}
.form-signup label {
  margin-bottom: 1rem;
}
.form-signup .form-group {
  margin-bottom: 1.5rem;
}
.form-signup .form-group input.form-control:focus {
  border-color: pink;
  box-shadow: 0 0 0 0.2rem rgba(255, 192, 203, 0.75);
}
.form-signup button {
  margin-top: 1rem;
  background-color: pink;
  border-color: pink;
}
.form-signup button:hover, .form-signup button:focus {
  background-color: #fff3f5;
  border-color: #fff3f5;
}

.product h1 {
  padding: 3px;
  font-size: 30px;
  margin-top: -5px;
  position: relative;
  right: 20px;
}
.product input[type=number] {
  border: 1px solid pink;
  box-shadow: 0 0 5px pink;
  width: 60px;
  height: 35px;
  padding: 6px;
  margin-top: 10.5%;
}
.product input[type=number]:focus {
  outline: none;
}
.product .btn-buy-now {
  font-size: 14px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: pink;
  color: #fff;
  transition: background-color 0.3s ease;
  margin-top: 10.5%;
}
.product .btn-buy-now:hover {
  background-color: #ff8da1;
}
.product .btn-buy-now:active, .product .btn-buy-now:focus {
  outline-color: #ff8da1;
  box-shadow: none;
  background-color: pink;
}
.product .form-group1 input[type=number] {
  border: 1px solid pink;
  box-shadow: 0 0 5px pink;
  width: 60px;
  height: 35px;
  padding: 6px;
  margin-top: 10.5%;
}
.product .form-group1 input[type=number]:focus {
  outline: none;
}
.product .form-group label {
  font-weight: bold;
}
.product .form-group input[type=number] {
  border: 1px solid pink;
  box-shadow: 0 0 5px pink;
  width: 60px;
  height: 35px;
  padding: 6px;
  margin-top: 10.5%;
  margin: 0;
  margin-left: 44%;
}
.product .form-group input[type=number]:focus {
  outline: none;
}
.product .form-group input[type=text],
.product .form-group input[type=email],
.product .form-group input[type=tel] {
  border: 1px solid pink;
  box-shadow: 0 0 5px pink;
  width: 60px;
  height: 35px;
  padding: 6px;
  margin-top: 10.5%;
  width: 300px;
  height: 35px;
  margin: 0;
  margin-left: 18%;
}
.product .form-group input[type=text]:focus,
.product .form-group input[type=email]:focus,
.product .form-group input[type=tel]:focus {
  outline: none;
}
.product .form-group .form-control {
  border: 1px solid pink;
  box-shadow: 0 0 5px pink;
  width: 60px;
  height: 35px;
  padding: 6px;
  margin-top: 10.5%;
  width: 300px;
  height: 150px;
  margin: 0;
  margin-left: 18%;
}
.product .form-group .form-control:focus {
  outline: none;
}
.product .price-col {
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding: 3%;
}
.product .btn-submit {
  margin-top: 1rem;
  background-color: pink;
  border-color: pink;
}
.product .btn-submit:hover, .product .btn-submit:focus {
  background-color: #fff3f5;
  border-color: #fff3f5;
}
.product button[type=submit] {
  width: 120px;
  height: 35px;
}
.product footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-products2 {
  padding: 5rem;
}/*# sourceMappingURL=styles.css.map */