

<section class="hero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6" style="margin-top: 3%;">
                <h1>Welcome to Buttek!</h1>
                <p class="lead">Welcome to our skin-care shop, where you'll find everything you need to keep your skin looking its best. Our shop offers a wide range of high-quality products, including cleansers, toners, moisturizers, serums, and more. We carry products from some of the top brands in the industry, so you can rest assured that you're getting the very best.  </p>
            </div>
            <div class="col-md-6 justify-content-end">
                <img src="assets\images\photo1.jpg" alt="Product Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>

