/* You can add global styles to this file, and also import other style files */


@import "bootstrap/scss/bootstrap";
$primary-color: pink;
$secondary-color: #6c757d;
$background-color: #f5f5f5;
$pink-color: pink;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
