

<section class="hero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6" style="margin-top: 3%;">
                <h1>Welcome to Buttek!</h1>
                <p class="lead">Hello! We are a store specializing in body, face and hair care products. We hope that you will feel comfortable in our store and find what you need!</p>
                <a routerLink="/store/inventory"class="btn btn-primary">Shop Now</a>
            </div>
            <div class="col-md-6 justify-content-end">
                <img src="assets\images\photo1.jpg" alt="Product Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>

