$primary-color: pink;
$secondary-color: #6c757d;
$background-color: #f5f5f5;
$pink-color: pink;

@mixin quantity-field {
    border: 1px solid $primary-color;
    box-shadow: 0 0 5px $primary-color;
    width:60px;
    height:35px;
    padding: 6px;
    margin-top: 10.5%;
    &:focus {
      outline: none;
    }
  }
  
  @mixin big-buttons($color) {
      margin-top: 1rem;
      background-color: $primary-color;
      border-color: $primary-color;
  
      &:hover,
      &:focus {
        background-color: lighten($pink-color, 10%);
        border-color: lighten($pink-color, 10%);
      }
  
  }
  

.cart {
 
    
    td, th {
    border: none;
      
    }
    
    input[type="number"] {
      @include quantity-field;}
    
    
    
    .cart-remove {
    font-size: 1.5rem;
    padding: 0;
    }
    
    .cart-remove i {
    transition: color 0.3s ease;
    }
    
    .cart-remove:hover i {
    color: $pink-color;
    }
    
    .cart-total {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    
    h4 {
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 1rem;
      color: $secondary-color;
    }
    }
    
    .btn-primary {
    @include big-buttons($primary-color);
    }
    .btn-submit{
      @include big-buttons($primary-color);
      color:white;
    }
    .form-control{
      border: 1px solid $primary-color;
      box-shadow: 0 0 5px $primary-color;
      &:focus {
        outline: none;
      }
      
    }
    
    }